@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../pages/css/login.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

/*
  Palheta de cores smart lion
  background-color: #17395C;
  background-color: #EFB758;
  background-color: #C24229;
  background-color: #E1DCC9;

*/
.bg-azul-lion{
  background-color: #17395C;
}

.bg-amarelo-lion{
  background-color: #EFB758;
}

.bg-vermelho-lion{
  background-color: #C24229;
}

.bg-cinza-lion{
  background-color: #E1DCC9;
}